<mat-card>
  <mat-card-title>Jobs</mat-card-title>
  <mat-card-subtitle>Ajout d'un nouveau Job</mat-card-subtitle>
  <mat-card-content>

    <form class="form-fields" [formGroup]="form" (ngSubmit)="onSave()">
      <mat-form-field>
        <mat-label>Titre</mat-label>
        <input matInput type="text" maxLength="255" required formControlName="title">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Société</mat-label>
        <input matInput type="text" maxLength="20" required formControlName="company" placeholder="Aston">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ville</mat-label>
        <input matInput type="text" maxLength="40" required formControlName="city" placeholder="Lille">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Code Postal</mat-label>
        <input matInput type="text" maxLength="10" required formControlName="zipcode" placeholder="59160">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date de départ</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="startDate" placeholder="Date de départ">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Contrat Type</mat-label>
        <mat-select placeholder="Contrat Type" formControlName="contractType">
          <mat-option *ngFor="let contractType of contractTypes" [value]="contractType.id">
            {{ contractType.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary">Sauvegarder</button>
    </form>

  </mat-card-content>
</mat-card>