<div class="login-container">
  <mat-card class="login">
    <mat-card-title>Authentification</mat-card-title>
    <mat-card-subtitle>Formulaire de connexion</mat-card-subtitle>
    <mat-divider></mat-divider>

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput formControlName="email" type="email" placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="password" type="password" placeholder="Mot de passe">
      </mat-form-field>

      <button type="submit" mat-raised-button color="accent">Connexion</button>

    </form>
  </mat-card>
</div>
