extends layout

block content
  h1= title
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, distinctio.
  form(action="" method="post")
    label(for="user") Mon Label
    input(type="text", id="user")
